* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#header-nav {
  background-color: grey;
  border-radius: 0;
  border: 0;
  position: sticky;
  margin-bottom: 10px;
}


.nav>li>a {
  position: relative;
  display: block;
  padding: 10px 15px;
}

.navbar-collapse {
  background-color: white;
  text-align: center;
}

.menu-item{
    width: 100%;
    border-bottom: 1px solid black;
    color: black;
    font-weight: bold;
}

#menu {
  color: black;
  margin-top: 0;
  font-size: 25px;
  font-weight: bold;
  margin-bottom: 30px;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: black;
  height: 3px;
}

.navbar-default .navbar-toggle {
  border: 1px solid black;
  background-color: grey;
}

#brand {
  font-weight: bold;
  position: absolute;
  left: 20px;
  color: black;
}

.section {
  background-color: grey;
  height: 750px;
  text-align: center;
  overflow: hidden;
}


.section h2 {
  margin-top: 0;
  padding-top: 5px;
  color: black;
  font-weight: bold;
  font-size: 20px;
}

.section p {
  padding-left: 20px;
  padding-right: 20px;
  text-align: justify;
  color: black;
  font-weight: 500;
}

.col-sm-6{
  margin-bottom: 10px;
}

@media (max-width: 470px) {
  .section {
    margin-left: 50px;
    margin-right: 50px;
  }
}

.link{
  color:blue;
  text-align: left;
}
